* {
  margin: 0;
  padding: 0;
  font: 1em, sans-serif;
}
.box {
	padding: 0.5em;
}
.field {
   margin-bottom: 0.3em;
}
input.label {
   width:16em;
}
input.url {
   width:32em;
}
.handle {
   cursor: grab;
}
.handle img {
   width: 18px;
   height: 16px;
}
.hold {
	opacity:0.5;
   position:absolute;
   z-index:1;
}
.draggable.invisible {
   visibility: hidden;
}
.hide {
   display: none;
}
#preset {
   display: none;
}
#preset.show {
   display: block;
}
#preset section {
   padding:0.5em;
   margin:0.5em;
   border: solid 1px black;
}
#preset .checkWrapper:hover {
   cursor: pointer;
   border-color: orange;
}
#table {
   display: grid;
   grid-template-columns: 1fr;
}
@media (min-width: 768px) {
   #table {
      grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 992px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media (min-width: 1200px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
