* {
  margin: 0;
  padding: 0;
  font: 1em, sans-serif;
}
.box {
	padding: 0.5em;
   background-image: url(../images/__MSG_@@ui_locale__/header.png);
}
.ico {
   width: 16px;
   height: 16px;
}
.field{
   white-space: nowrap;
}
.handle {
   cursor: grab;
}
.handle img {
   width: 18px;
   height: 16px;
}
.hold {
	opacity:0.5;
   position:absolute;
   z-index:1;
}
.draggable.hide {
   visibility: hidden;
}
#preset {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#preset.show {
   display: block;
}
