* {
  margin: 0;
  padding: 0;
  font: 1em, sans-serif;
}
.box {
	padding: 0.5em;
   background-image: url(../images/__MSG_@@ui_locale__/header.png);
}
.ico {
   width: 16px;
   height: 16px;
}
.field{
   white-space: nowrap;
}
.handle {
   cursor: grab;
}
.handle img {
   width: 18px;
   height: 16px;
}
.hold {
	opacity:0.8;
   position:absolute;
   z-index:1;
}
.draggable.hide {
   visibility: hidden;
}
