div.lessLaborGoToDictionary-viewer {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	display: block;
	position: absolute;
	z-index: 2147483646;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	overflow: auto;
	resize: both;
}
div.lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-hide {
	display: none;
}
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	white-space: nowrap;
	display: block;
}
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor,
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:link {
	color: rgb(0, 0, 238);
}
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:visited {
	color: #551a8b;
}
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: underline;
}
div.lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:active {
	color: #ee0000;
}
div.lessLaborGoToDictionary-viewer nav.lessLaborGoToDictionary-menu {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	display: block;
	height: 22px;
	line-height: 0;
	white-space: nowrap;
	padding-top: 5px;
	padding-left: 5px;
}
div.lessLaborGoToDictionary-viewer img.lessLaborGoToDictionary-zoomDown,
div.lessLaborGoToDictionary-viewer img.lessLaborGoToDictionary-zoomUp,
div.lessLaborGoToDictionary-viewer img.lessLaborGoToDictionary-copy {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	margin-right: 5px;
}
div.lessLaborGoToDictionary-viewer ul.lessLaborGoToDictionary-container {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	display: block;
}
div.lessLaborGoToDictionary-viewer li.lessLaborGoToDictionary-list {
	all: initial;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	display: block;
}
div.lessLaborGoToDictionary-dark {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: linear-gradient(to bottom right, #404040, #202020);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.64),0 2px 10px 0 rgba(0,0,0,0.48);
}
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor {
	border-top: 2px solid #505050;
}
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor,
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:link {
	color: white;
}
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:visited {
	color: #B0B0B0;
}
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: none;
	background-color:#505050;
}
div.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:active {
	color: #F07070;
}
