#lessLaborGoToDictionary-widget {
	all: initial;
	display: block !important;
	user-select: none !important;
	-moz-user-select: none !important;
	position: absolute !important;
	z-index: 2147483646 !important;
	background-color: white !important;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px !important;
	overflow: auto !important;
	resize: both !important;
}
#lessLaborGoToDictionary-widget.lessLaborGoToDictionary-hide {
	display: none !important;
}
#lessLaborGoToDictionary-widget.lessLaborGoToDictionary-stopper {
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	overflow: hidden !important;
	resize: none !important;
}
#lessLaborGoToDictionary-widget.lessLaborGoToDictionary-dark {
	border-top-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	background: linear-gradient(to bottom right, #404040, #202020) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.64),0 2px 10px 0 rgba(0,0,0,0.48) !important;
}
