#lessLaborGoToDictionary-viewer {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	position: absolute;
	z-index: 2147483646;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	overflow: auto;
	resize: both;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-hide,
#lessLaborGoToDictionary-apiContent.lessLaborGoToDictionary-hide {
	display: none;
}
#lessLaborGoToDictionary-cover {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-image: url("chrome-extension://__MSG_@@extension_id__/image/rect30.png"),url("/image/rect30.png");
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-stopper {
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	overflow: hidden;
	resize: none;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-stopper #lessLaborGoToDictionary-cover {
	display: block;
}
#lessLaborGoToDictionary-menu {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	height: 22px;
	line-height: 0;
	white-space: nowrap;
	padding-top: 5px;
	padding-left: 5px;
}
#lessLaborGoToDictionary-zoomDown,
#lessLaborGoToDictionary-zoomUp,
#lessLaborGoToDictionary-copy,
#lessLaborGoToDictionary-resize,
#lessLaborGoToDictionary-option {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	height: 16px;
	width: 16px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	margin-right: 5px;
}
#lessLaborGoToDictionary-container {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
}
#lessLaborGoToDictionary-viewer li.lessLaborGoToDictionary-list {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	padding-left: 5px;
}
#lessLaborGoToDictionary-apiTitle,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	cursor: pointer;
	display: block;
	white-space: nowrap;
}
#lessLaborGoToDictionary-apiTitle:link,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor span.lessLaborGoToDictionary-label,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:link span.lessLaborGoToDictionary-label {
	color: rgb(0, 0, 238);
}
#lessLaborGoToDictionary-apiTitle:visited,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:visited span.lessLaborGoToDictionary-label {
	color: #551a8b;
}
#lessLaborGoToDictionary-apiTitle:hover,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: underline;
}
#lessLaborGoToDictionary-apiTitle:active,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:active span.lessLaborGoToDictionary-label {
	color: #ee0000;
}
#lessLaborGoToDictionary-viewer img.lessLaborGoToDictionary-favicon {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: inline;
	cursor: pointer;
	margin: auto;
}
#lessLaborGoToDictionary-viewer span.lessLaborGoToDictionary-label {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: inline;
	cursor: pointer;
	white-space: nowrap;
	margin-left: 5px;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini li.lessLaborGoToDictionary-list {
	display: inline;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini a.lessLaborGoToDictionary-anchor {
	display: inline;
	white-space: normal;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini span.lessLaborGoToDictionary-label {
	display: none;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark {
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark {
	background: linear-gradient(to bottom right, #404040, #202020);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.64),0 2px 10px 0 rgba(0,0,0,0.48);
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor {
	border-top: 2px solid #505050;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor span.lessLaborGoToDictionary-label,
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:link span.lessLaborGoToDictionary-label {
	color: white;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:visited span.lessLaborGoToDictionary-label{
	color: #B0B0B0;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: none;
	background-color:#505050;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:active span.lessLaborGoToDictionary-label{
	color: #F07070;
}
#lessLaborGoToDictionary-apiContent {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	border: solid 1px gray;
	border-radius: 5px;
	margin:5px;
	padding:10px;
}
#lessLaborGoToDictionary-apiHeader,
#lessLaborGoToDictionary-apiBody {
	all: initial;
	display: block;
}
#lessLaborGoToDictionary-apiBody * {
	all: initial;
	font-family: 'Helvetica Neue','Helvetica','Nimbus Sans L','Arial','Liberation Sans',sans-serif;
	font-size: 14px;
	line-height: 1.7em;
	user-select: none;
	-moz-user-select: none;
}
#lessLaborGoToDictionary-apiBody h1, #lessLaborGoToDictionary-apiBody h2, #lessLaborGoToDictionary-apiBody h3,
#lessLaborGoToDictionary-apiBody h4, #lessLaborGoToDictionary-apiBody h5, #lessLaborGoToDictionary-apiBody h6,
#lessLaborGoToDictionary-apiBody div, #lessLaborGoToDictionary-apiBody p, #lessLaborGoToDictionary-apiBody ol, #lessLaborGoToDictionary-apiBody ul,
#lessLaborGoToDictionary-apiBody dl, #lessLaborGoToDictionary-apiBody dt, #lessLaborGoToDictionary-apiBody dd {
	display: block;
	margin-bottom: 0.5em;
}
#lessLaborGoToDictionary-apiBody h1, #lessLaborGoToDictionary-apiBody h1 *,
#lessLaborGoToDictionary-apiBody h2, #lessLaborGoToDictionary-apiBody h2 *,
#lessLaborGoToDictionary-apiBody h3, #lessLaborGoToDictionary-apiBody h3 *,
#lessLaborGoToDictionary-apiBody h4, #lessLaborGoToDictionary-apiBody h4 *,
#lessLaborGoToDictionary-apiBody h5, #lessLaborGoToDictionary-apiBody h5 *,
#lessLaborGoToDictionary-apiBody h6, #lessLaborGoToDictionary-apiBody h6 * {
	font-weight: bold;
}
#lessLaborGoToDictionary-apiBody h1 a, #lessLaborGoToDictionary-apiBody h1 a *,
#lessLaborGoToDictionary-apiBody h2 a, #lessLaborGoToDictionary-apiBody h2 a *,
#lessLaborGoToDictionary-apiBody h3 a, #lessLaborGoToDictionary-apiBody h3 a *,
#lessLaborGoToDictionary-apiBody h4 a, #lessLaborGoToDictionary-apiBody h4 a *,
#lessLaborGoToDictionary-apiBody h5 a, #lessLaborGoToDictionary-apiBody h5 a *,
#lessLaborGoToDictionary-apiBody h6 a, #lessLaborGoToDictionary-apiBody h6 a * {
	font-size: 0.8em;
}
#lessLaborGoToDictionary-apiBody h1, #lessLaborGoToDictionary-apiBody h1 * {
	font-size: 1.3em;
}
#lessLaborGoToDictionary-apiBody h2, #lessLaborGoToDictionary-apiBody h2 * {
	font-size: 1.25em;
}
#lessLaborGoToDictionary-apiBody h3, #lessLaborGoToDictionary-apiBody h3 * {
	font-size: 1.2em;
}
#lessLaborGoToDictionary-apiBody h4, #lessLaborGoToDictionary-apiBody h4 * {
	font-size: 1.15em;
}
#lessLaborGoToDictionary-apiBody h5, #lessLaborGoToDictionary-apiBody h5 * {
	font-size: 1.1em;
}
#lessLaborGoToDictionary-apiBody h6, #lessLaborGoToDictionary-apiBody h6 * {
	font-size: 1.0em;
}
#lessLaborGoToDictionary-apiBody table {
	display: table;
}
#lessLaborGoToDictionary-apiBody caption {
	display: table-caption;
}
#lessLaborGoToDictionary-apiBody colgroup {
	display: table-column-group;
}
#lessLaborGoToDictionary-apiBody thead {
	display: table-header-group;
}
#lessLaborGoToDictionary-apiBody tbody {
	display: table-row-group;
}
#lessLaborGoToDictionary-apiBody tfoot {
	display: table-footer-group;
}
#lessLaborGoToDictionary-apiBody tr {
	display: table-row;
}
#lessLaborGoToDictionary-apiBody col {
	display: table-column;
}
#lessLaborGoToDictionary-apiBody th, #lessLaborGoToDictionary-apiBody td {
	display: table-cell;
}
#lessLaborGoToDictionary-apiBody th, #lessLaborGoToDictionary-apiBody th * {
	font-weight: bold;
}
#lessLaborGoToDictionary-apiBody ol, #lessLaborGoToDictionary-apiBody ul, #lessLaborGoToDictionary-apiBody dl {
	margin-left: 1em;
}
#lessLaborGoToDictionary-apiBody li {
	display: list-item;
	margin-bottom: 0.5em;
}
#lessLaborGoToDictionary-apiBody ol>li {
	list-style: decimal outside;
}
#lessLaborGoToDictionary-apiBody ul>li {
	list-style: disc outside;
}
#lessLaborGoToDictionary-apiBody a, #lessLaborGoToDictionary-apiBody span, #lessLaborGoToDictionary-apiBody b,
#lessLaborGoToDictionary-apiBody i, #lessLaborGoToDictionary-apiBody strong {
	display: inline;
}
#lessLaborGoToDictionary-apiBody a, #lessLaborGoToDictionary-apiBody a *,
#lessLaborGoToDictionary-apiBody a:link, #lessLaborGoToDictionary-apiBody a:link * {
	cursor: pointer;
	color: #3366cc;
}
#lessLaborGoToDictionary-apiBody a:visited, #lessLaborGoToDictionary-apiBody a:visited * {
	color: #551a8b;
}
#lessLaborGoToDictionary-apiBody a:hover, #lessLaborGoToDictionary-apiBody a:hover * {
	text-decoration: underline;
}
#lessLaborGoToDictionary-apiBody a:active, #lessLaborGoToDictionary-apiBody a:active * {
	color: #ee0000;
}
#lessLaborGoToDictionary-apiBody b, #lessLaborGoToDictionary-apiBody b *,
#lessLaborGoToDictionary-apiBody strong, #lessLaborGoToDictionary-apiBody strong *,
#lessLaborGoToDictionary-apiBody dt, #lessLaborGoToDictionary-apiBody dt * {
	font-weight: bold;
}
#lessLaborGoToDictionary-apiBody i, #lessLaborGoToDictionary-apiBody i * {
	font-style: italic;
}
#lessLaborGoToDictionary-apiBody small, #lessLaborGoToDictionary-apiBody small * {
	font-size: 0.9em;
}
#lessLaborGoToDictionary-apiBody h2.in-block {
	border-bottom: solid 1px #eaecf0;
}
#lessLaborGoToDictionary-apiBody *.mw-empty-elt {
	display: none;
}
