#lessLaborGoToDictionary-viewer {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	position: absolute;
	z-index: 2147483646;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	overflow: auto;
	resize: both;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-hide {
	display: none;
}
#lessLaborGoToDictionary-cover {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-image: url("chrome-extension://__MSG_@@extension_id__/image/rect30.png"),url("/image/rect30.png");
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-stopper {
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	overflow: hidden;
	resize: none;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-stopper #lessLaborGoToDictionary-cover {
	display: block;
}
#lessLaborGoToDictionary-menu {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	height: 22px;
	line-height: 0;
	white-space: nowrap;
	padding-top: 5px;
	padding-left: 5px;
}
#lessLaborGoToDictionary-zoomDown,
#lessLaborGoToDictionary-zoomUp,
#lessLaborGoToDictionary-copy,
#lessLaborGoToDictionary-resize,
#lessLaborGoToDictionary-option {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	height: 16px;
	width: 16px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	margin-right: 5px;
}
#lessLaborGoToDictionary-container {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
}
#lessLaborGoToDictionary-api {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	border: solid 1px gray;
	border-radius: 5px;
	margin:5px;
	padding:5px;
}
#lessLaborGoToDictionary-api ol,
#lessLaborGoToDictionary-api li {
	all: initial;
	font-size: 0.9em
}
#lessLaborGoToDictionary-api ol::after{
	display: block;
	content:"powered by wiktionary"
}
#lessLaborGoToDictionary-viewer li.lessLaborGoToDictionary-list {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	display: block;
	padding-left: 5px;
}
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	font-family: sans-serif;
	cursor: pointer;
	display: block;
	white-space: nowrap;
}
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor span.lessLaborGoToDictionary-label,
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:link span.lessLaborGoToDictionary-label {
	color: rgb(0, 0, 238);
}
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:visited span.lessLaborGoToDictionary-label {
	color: #551a8b;
}
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: underline;
}
#lessLaborGoToDictionary-viewer a.lessLaborGoToDictionary-anchor:active span.lessLaborGoToDictionary-label {
	color: #ee0000;
}
#lessLaborGoToDictionary-viewer img.lessLaborGoToDictionary-favicon {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: inline;
	cursor: pointer;
	margin: auto;
}
#lessLaborGoToDictionary-viewer span.lessLaborGoToDictionary-label {
	all: initial;
	user-select: none;
	-moz-user-select: none;
	display: inline;
	cursor: pointer;
	white-space: nowrap;
	margin-left: 5px;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini li.lessLaborGoToDictionary-list {
	display: inline;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini a.lessLaborGoToDictionary-anchor {
	display: inline;
	white-space: normal;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-mini span.lessLaborGoToDictionary-label {
	display: none;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark {
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark {
	background: linear-gradient(to bottom right, #404040, #202020);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.64),0 2px 10px 0 rgba(0,0,0,0.48);
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor {
	border-top: 2px solid #505050;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor span.lessLaborGoToDictionary-label,
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:link span.lessLaborGoToDictionary-label {
	color: white;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:visited span.lessLaborGoToDictionary-label{
	color: #B0B0B0;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:hover {
	text-decoration: none;
	background-color:#505050;
}
#lessLaborGoToDictionary-viewer.lessLaborGoToDictionary-dark a.lessLaborGoToDictionary-anchor:active span.lessLaborGoToDictionary-label{
	color: #F07070;
}
