* {
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
}
body {
   background-color: white;
}
p {
   margin-bottom: 1em;
}
button {
   padding: 1px 20px;
}
#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 45px;
   background-color: WhiteSmoke;
}
#header h1 {
   color: black;
}
#nav {
   position: fixed;
   top: 45px;
   left: 0;
   width: 160px;
   height: 100%;
   border-right: solid 1px rgb(222, 226, 230);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
   z-index:2;
}
#nav .navi {
   color: black;
   border-radius: 5px;
   background-color: white;
   margin: 3px;
}
#nav .navi:hover {
   background-color: Gainsboro;
   cursor: pointer;
}
#nav .navi.active {
   color: DodgerBlue;
}
#nav .navi.active:hover {
   cursor: default;
}
#main {
   margin-top: 45px;
   margin-left: 160px;
}
.inline {
   display: inline;
}
.controller {
   position: fixed;
   top: 45px;
   left: 160px;
   width: 100%;
   white-space: nowrap;
   background-color: white;
   border-bottom: solid 1px rgb(222, 226, 230);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}
.desk {
   margin-top: 50px;
}
.box {
	padding: 0.5em;
}
.field {
   margin-bottom: 0.5em;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
   padding: 5px 0.5em;
}
.textbox {
   white-space: nowrap;
}
.sortNo {
   display: inline-block;
   width: 2em;
}
input.label {
   width:16em;
}
input.url {
   width:32em;
}
.handle {
   cursor: grab;
}
.handle img {
   width: 13px;
   height: 16px;
}
.hold {
	opacity:0.5;
   position:absolute;
   z-index:1;
}
.draggable.invisible {
   visibility: hidden;
}
.hide {
   display: none;
}
#preset section {
   padding:0.5em;
   margin:0.5em;
   border: solid 1px black;
}
#preset .url {
   font-size:70%
}
#preset .checkWrapper:hover {
   cursor: pointer;
   border-color: orange;
}
#table {
   display: grid;
   grid-template-columns: 1fr;
}
@media (min-width: 802px) {
   #table {
      grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 1094px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media (min-width: 1372px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
.appearanceTable {
	display: grid;
	grid-template-columns: 1fr;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}
.appearanceTable > * {
	margin-bottom: 1em;
}
@media (min-width: 948px) {
	.appearanceTable {
      grid-template-columns: 400px 1fr ;
   }
	.appearanceHeader {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
.appearanceHeader h1 {
	background-color: WhiteSmoke;
}
