/* normal */
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	font-size: 16px;
	font-family: Verdana, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.sentence {
	font-size: 1em;
	font-family: Georgia, "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}
aside.sentence {
	font-size: 0.9em;
}
p, .paragraph {
	white-space: normal;
	margin-bottom: 1em;
}
ol, ul {
	margin-left: 2em;
}
ol>li {
	list-style: decimal outside;
}
ul>li {
	list-style: disc outside;
}
aside {
	background-color: WhiteSmoke;
	padding: 0.2em;
}
input[type="text"], input[type="url"], input[type="number"], input[type="date"] {
	height: 27px;
	font-size: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

input[type="text"], input[type="url"], input[type="number"], input[type="date"], aside {
	border-radius: 5px;
	border: solid 1px #ccc;
}
input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="date"]:focus,
.checkWrapper:hover {
	border-color: rgb(165, 200, 238);
	box-shadow: rgba(165, 200, 238, 0.32) 0px 3px 3px 0px, rgba(165, 200, 238, 0.32) 0px 0px 0px 2px;
}
button, .select {
	min-height: 26px;
	padding: 3px 0.5em;
	border: solid 1px WhiteSmoke;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(to bottom, #FFFFFF, #EEE);
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
}
button:hover,.select:hover {
	background: linear-gradient(to bottom, #EEEEEE, #DDD);
}
.select {
	cursor: pointer;
}
option {
	background-color: white;
}
.table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #ccc;
	margin-bottom: 1em;
}
.table thead th {
	background-color: WhiteSmoke;
	color: black;
	font-weight:bold;
	text-align: left;
}
.table tbody tr:nth-child(2n) {
	background-color: WhiteSmoke;
}
.table thead th, .table tbody td {
	padding: 2px 5px;
	border: 2px solid #ccc;
}
address{
	font-style: normal;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#menu {
	position: fixed;
	top:0;
	width: 160px;
	height: 100%;
	z-index:20;
	border-right: solid 2px #C0C0C0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	background-color: white;
}
#header {
	height: 200px;
	background-color: #404040;
	color: white;
}
#header .logo {
	maring: auto;
	text-align: center;
	padding-top: 10px;
}
#header h1 {
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
}
#nav .navi {
	color: black;
	border-radius: 5px;
	background-color: white;
	margin: 3px;
	padding: 0.5em;
}
#nav .navi:hover {
	background-color: Gainsboro;
	cursor: pointer;
}
#nav .navi.active {
	color: DodgerBlue;
}
#nav .navi.active:hover {
	cursor: default;
}
#main {
	position: relative;
	margin-left: 160px;
	padding: 2em;
}
.controller {
	position: fixed;
	top: 0;
	left: 160px;
	right: 0;
	padding: 0.5em 2em;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.7);
	color: white;
	z-index:20;
	line-height: 10px;
	min-height: 45px;
}
.panelComponent {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	color: white;
	z-index:30;
	padding: 2em 5em;
	overflow: scroll;
	min-width: 680px;
}
.panelComponent .removePanelComponent {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
}
.panelComponent .panelBody {
	color: black;
	background-color: white;
	border-radius: 5px;
	min-width: 680px;
}
.panelComponent .panelBody nav {
	padding: 0.5em;
	border-radius: 5px;
	background-color: #404040;
	margin-bottom: 1em;
	white-space: nowrap;
}
.desk {
	margin-top: 3em;
}
.box{
	padding: 0.5em;
}
.borderComponent {
	border-radius: 5px;
	border: solid 2px #C0C0C0;
	padding: 0.5em;
}
.borderComponent aside {
	margin-bottom: 1em;
}
#contact h1,
.borderComponent>h1 {
	font-size: 20px;
	border-radius: 5px;
	background-color: #404040;
	color: white;
	padding: 0.2em 0.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.subComponent {
	margin-top: 1.5em;
	margin-bottom: 2em;
}
.subComponent>h1 {
	border-bottom: solid 2px #ccc;
	margin-bottom: 1em;
	font-size: 20px;
}
.hide, .cell-hide {
	display: none;
}
.groupLine {
	display: inline-block;
	margin-right: 0.5em;
	padding:3px;
	background-color: WhiteSmoke;
	border: solid 2px #C0C0C0;
	border-radius: 5px;
	color: black;
	min-height: 20px;
}
.panelComponent .panelBody nav .groupLine,
.controller .groupLine {
	padding:5px 10px;
}
.controller>button {
	margin-top: 5px;
}
nav .groupLine {
	border: none;
}

/* edit link menu */

.inputWrapper {
	position: relative;
}
.inputMessage {
	padding: 2px;
	border: solid 1px red;
	border-radius: 5px;
	background-color: rgba(255,0,0,0.65);
	position: absolute;
	top: 2.5em;
	left: 0em;
	z-index: 10;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	white-space: nowrap;
}
.inputMessage::before{
	content: '';
	position: absolute;
	left: 10px;
	top: -10px;
	display: block;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
}
.checkboxButton {
	position:relative;
	background-color: gray;
	display: inline-block;
	vertical-align: text-top;
	height: 20px;
	width: 30px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 20px;
}
.checkboxButton .circle {
	position: absolute;
	background: linear-gradient(to bottom, #FFFFFF, #F0F0F0 );
	display: inline-block;
	border-radius: 8px;
	height: 16px;
	width: 16px;
	top: 2px;
	left: 2px;
}
.checkboxButton[data-checked="1"] {
	background-color: #5bd94d;
}
.checkboxButton[data-checked="1"] .circle {
	left: unset;
	right: 2px;
}
.checkboxButton[data-checked="1"].hist {
	background-color: Orange;
}
.field {
	position:relative;
	margin-bottom: 1em;
	padding: 0.5em;
}
.field.add {
	animation-name: add-field;
	animation-duration: 1.5s;
}
@keyframes add-field {
	from {
		background-color: DodgerBlue;
	}
}
.gridWrapper {
	display: grid;
	grid-template-columns: 1fr;
}
.gridWrapper div {
	padding: 5px;
}
.label,.url {
	width: 95%;
}
.fieldController {
	white-space: nowrap;
}
@media (min-width: 994px) {
	.gridWrapper {
		grid-template-columns: 1fr 1fr;
	}
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
@media (min-width: 1300px) {
	.gridWrapper {
		grid-template-columns: 100px 1fr 1fr;
	}
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.labelLineBreak {
		display: none;
	}
	.label,.url {
		width: 80%;
	}
	.gridWrapper div.fieldController {
		margin-top: 5px;
	}
}
.textbox {
	white-space: nowrap;
}
.handle {
	cursor: grab;
}
.holdImage {
	vertical-align: text-top;
	width: 13px;
	height: 16px;
}
.groupLine .holdImage {
	vertical-align: baseline;
}
.hold {
	opacity:0.5;
	position:absolute;
	z-index:10;
}
.removeField {
	position: absolute;
	top:10px;
	right:10px;
	width:16px;
	height:16px;
	cursor: pointer;
}
.draggable.invisible {
	visibility: hidden;
}

/* preset menu */

#languageFilter {
	width: 8em;
}
#table {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}
#table .checkWrapper {
	padding:0.5em;
	cursor: pointer;
}
@media (min-width: 1194px) {
	#table {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1572px) {
	#table {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 2050px) {
	#table {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* history menu */

.historyPage,.historyRowSize {
	width:50px;
}
.pagination {
	cursor: pointer;
	color: rgb(0, 0, 238);
}
.pagination:hover {
	text-decoration: underline;
}
.headHistoryID {
	width: 20px;
}
.headHistoryDate,.headHistoryText,.headHistoryFromSite,.headHistoryToSite {
	width: auto;
	min-width: 150px;
}
.headHistoryID, .historyID {
	text-align: left;
}

/* ranking */

.rankingCount {
	text-align: right;
}
#rankingTable th:nth-child(1), #rankingTable th:nth-child(2) {
	width: 25%;
}
#rankingTable th:nth-child(3) {
	width: auto;
}

/* others menu */

.othersTable {
	display: grid;
	grid-template-columns: 1fr;
}
.othersTable > * {
	margin-right: 1em;
	margin-bottom: 1em;
}
@media (min-width: 1094px) {
	.othersTable {
		grid-template-columns: 1fr 1fr ;
	}
	#linkListSample {
		position: relative;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 7;
	}
	#linkListSample>div {
		position: sticky;
		top: 0px;
	}
}
@media (min-width: 1372px) {
	.othersTable {
		grid-template-columns: 1fr 1fr 1fr ;
	}
	#linkListSample {
		position: relative;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 4;
	}
	#linkListSample>div {
		position: sticky;
		top: 0px;
	}
}
#languageFilterSelectPaneBody {
	display: grid;
	grid-template-columns: 1fr 300px;
}
#languageFilterContainer {
	display: inline;
}
#languageFilterContainer>* {
	vertical-align: top;
	display: inline-block;
	width: 300px;
}
#languageSelectList {
	position: sticky;
	top: 0px;
}
#languageFileterComponent {
	position: relative;
}
.removeLanguageButtom {
	vertical-align: text-bottom;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.languageFilterBox>li {
	border-radius: 5px;
}
.languageFilterBox>li:hover {
	background-color: Gainsboro;
}
.languageFilterBox>li>div {
	display:flex;
}
.languageLabel {
	width: 90%;
}
.removeLanguageBox {
	margin-left: 1em;
	width: 2em;
}
#downloadLanguagePane {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: rgba(0,0,0,0.7);
}
#downloadLanguagePane>p {
	text-align: center;
	height: 100%;
}
#downloadLanguagePane>p::before {
	display:inline-block;
	height: 100%;
	vertical-align: middle;
	content:"";
}
#downloadLanguagePane>p>span {
	color:white;
	display: inline-block;
	vertical-align: middle;
}
#downloadLanguagePane>div {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-image: url("/image/whiteCircle.svg");
	background-repeat: no-repeat;
	background-position: center;
	animation: loading 2s ease-out 0s infinite running;
	background-size: 0%;
	opacity: 1;
}
@keyframes loading {
	0%{
		background-size: 0%;
		opacity: 1;
	}
	40%{
		background-size: 0%;
		opacity: 1;
	}
	100%{
		background-size: 100%;
		opacity: 0;
	}
}

/* contact */
#contact>section {
	margin-bottom: 3em;
}

/* component */
.excludeImage,.includeImage {
	display: none;
	cursor: pointer;
	vertical-align: bottom;
}
.erasticTextComponent.short .erasticText::after {
	content: " ...";
}
.erasticTextComponent.short .includeImage {
	display: inline;
}
.erasticTextComponent.long .excludeImage {
	display: inline;
}
