* {
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
}
body {
   background-color: white;
}
p {
   margin-bottom: 0.5em;
}
button {
   padding: 1px 20px;
}
.inputWrapper {
	position: relative;
}
.inputMessage {
	padding: 2px;
	border: solid 1px red;
	border-radius: 5px;
	background-color: rgba(255,0,0,0.65);
	position: absolute;
	top: 2em;
	left: -0.5em;
	z-index: 10;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
}

.inputMessage::before{
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
}

.checkboxButton {
	position:relative;
	background-color: gray;
	display: inline-block;
	height: 20px;
	width: 30px;
	border-radius: 15px;
	cursor: pointer;
	top: 2px;
}
.checkboxButton .circle {
	position: absolute;
	background: linear-gradient(to bottom, #FFFFFF, #F0F0F0 );
	display: inline-block;
	border-radius: 8px;
	height: 16px;
	width: 16px;
	top: 2px;
	left: 2px;
}
.checkboxButton[data-checked="1"] {
	background-color: #5bd94d;
}
.checkboxButton[data-checked="1"] .circle {
	left: unset;
	right: 2px;
}
.checkboxButton[data-checked="1"].hist {
	background-color: Orange;
}

#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 45px;
   background-color: WhiteSmoke;
	z-index:30;
}
#header h1 {
   color: black;
}
#nav {
   position: fixed;
   top: 45px;
   left: 0;
   width: 160px;
   height: 100%;
   border-right: solid 1px rgb(222, 226, 230);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	z-index:20;
	background-color: white;
}
#nav .navi {
   color: black;
   border-radius: 5px;
   background-color: white;
   margin: 3px;
}
#nav .navi:hover {
   background-color: Gainsboro;
   cursor: pointer;
}
#nav .navi.active {
   color: DodgerBlue;
}
#nav .navi.active:hover {
   cursor: default;
}
#main {
   margin-top: 45px;
   margin-left: 160px;
}
.inline {
   display: inline;
}
.controller {
   position: fixed;
   top: 45px;
   left: 160px;
   width: 100%;
   white-space: nowrap;
   background-color: white;
   border-bottom: solid 1px rgb(222, 226, 230);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	z-index:20;
}
.desk {
   margin-top: 50px;
}
.box {
	padding: 0.5em;
}
.field {
	position:relative;
   margin-bottom: 1em;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
	padding: 0.5em;
}
.gridWrapper {
	display: grid;
	grid-template-columns: 1fr;
}
.gridWrapper div {
	padding: 5px;
}
.label,.url {
	width: 95%;
}
@media (min-width: 802px) {
	.gridWrapper {
		grid-template-columns: 1fr 1fr;
   }
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
@media (min-width: 1094px) {
	.gridWrapper {
		grid-template-columns: 100px 1fr 1fr;
   }
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.lineBreak {
		display: none;
	}
	.label,.url {
		width: 80%;
	}
}
.textbox {
   white-space: nowrap;
}
.handle {
   cursor: grab;
}
.handle img {
   width: 13px;
   height: 16px;
}
.hold {
	opacity:0.5;
   position:absolute;
   z-index:1;
}
.removeField {
	position: absolute;
	top:0;
	right:5px;
	width:16px;
	height:16px;
	cursor: pointer;
}
.draggable.invisible {
   visibility: hidden;
}
.hide {
   display: none;
}
.groupLine {
	padding:3px;
	background-color: WhiteSmoke;
	border: solid 1px rgb(222, 226, 230);
	border-radius: 5px;
}
@media (min-width: 802px) {
   #table {
      grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 1094px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
.controller .groupLine {
	padding:10px;
}
#preset section {
   padding:0.5em;
   margin:0.5em;
   border: solid 1px black;
}
#preset .url {
   font-size:70%
}
#preset .checkWrapper:hover {
   cursor: pointer;
   border-color: orange;
}
#table {
   display: grid;
   grid-template-columns: 1fr;
}
@media (min-width: 802px) {
   #table {
      grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 1094px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media (min-width: 1372px) {
   #table {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
.othersTable {
	display: grid;
	grid-template-columns: 1fr;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}
.othersTable > * {
	margin-bottom: 1em;
}
@media (min-width: 948px) {
	.othersTable {
      grid-template-columns: 400px 1fr ;
   }
	.othersHeader {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
.othersHeader h1 {
	background-color: WhiteSmoke;
}
.historyPage,.historyRowSize {
	width:40px;
}
.pagination {
	cursor: pointer;
	color: rgb(0, 0, 238);
}
.pagination:hover {
	text-decoration: underline;
}
#historyTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
#historyTable thead th {
	background-color: WhiteSmoke;
	color: black;
	font-weight:bold;
}
#historyTable tbody tr:nth-child(2n) {
	background-color: WhiteSmoke;
}
#historyTable thead th, #historyTable tbody td {
	padding-left: 5px;
	padding-right: 5px;
}
.headHistoryID {
	width: 20px;
}
.headHistoryDate,.headHistoryText,.headHistoryFromSite,.headHistoryToSite {
	width: auto;
	min-width: 150px;
}
.headHistoryID, .historyID {
	text-align: left;
}
