/* normal */
* {
	margin: 0;
	padding: 0;
	font: 16px sans-serif;
}
body {
	background-color: white;
}
p {
	margin-bottom: 1em;
}
ol, ul {
	margin-left: 2em;
}
ol>li {
	list-style: decimal outside;
}
ul>li {
	list-style: decimal outside;
}
aside {
	font-size: 0.8em;
	background-color: WhiteSmoke;
	padding: 0.2em;
}
input[type="text"], input[type="url"], input[type="number"], input[type="date"],
#preset .checkWrapper, .field, aside {
	border-radius: 5px;
	border: solid 1px #ccc;
}
input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="date"]:focus,
#preset .checkWrapper:hover {
	border: solid 1px rgb(165, 200, 238);
	box-shadow: rgba(165, 200, 238, 0.32) 0px 3px 3px 0px, rgba(165, 200, 238, 0.32) 0px 0px 0px 2px;
}
button,select {
	padding: 3px 0.5em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(to bottom, #FFFFFF, #EEE);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
button:hover,select:hover {
	background: linear-gradient(to bottom, #EEEEEE, #DDD);
}
select {
	cursor: pointer;
}
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
table thead th {
	background-color: WhiteSmoke;
	color: black;
	font-weight:bold;
	text-align: left;
}
table tbody tr:nth-child(2n) {
	background-color: WhiteSmoke;
}
table thead th, table tbody td {
	padding: 2px 5px;
	border: 1px solid #ccc;
}
#menu {
	position: fixed;
	top:0;
	width: 160px;
	height: 100%;
	z-index:20;
	border-right: solid 1px rgb(222, 226, 230);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	background-color: white;
}
#header {
	height: 200px;
	background-color: #404040;
	color: white;
}
#header .logo {
	maring: auto;
	text-align: center;
	padding-top: 10px;
}
#header h1 {
	padding-left: 10px;
}
#nav div{
	color: black;
	border-radius: 5px;
	background-color: white;
	margin: 3px;
}
#nav div:hover {
	background-color: Gainsboro;
	cursor: pointer;
}
#nav div.active {
	color: DodgerBlue;
}
#nav div.active:hover {
	cursor: default;
}
#main {
	position: relative;
	margin-left: 160px;
	padding: 0.5em;
}
.controller {
	position: fixed;
	top: 0;
	left: 160px;
	right: 0;
	padding-top: 1em;
	padding-left: 0.5em;
	height: 3em;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.7);
	color: white;
	z-index:20;
	line-height: 10px;
}
.panelComponent {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	color: white;
	z-index:30;
	padding: 2em 5em;
	overflow: scroll;
	min-width: 620px;
}
.panelComponent .removePanelComponent {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
}
.panelComponent .panelBody {
	color: black;
	background-color: white;
	border-radius: 5px;
}
.panelComponent .panelBody header {
	padding-top: 1em;
	padding-left: 0.5em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #404040;
}
.desk {
	margin-top: 4em;
}
.box{
	padding: 0.5em;
}
.borderComponent {
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 0.5em;
}
.borderComponent aside {
	margin-bottom: 1em;
}
.borderComponent>h1 {
	border-radius: 5px;
	background-color: WhiteSmoke;
	padding: 0.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.subComponent {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.subComponent>h1 {
	border-bottom: solid 1px #ccc;
	margin-bottom: 1em;
	font-weight: bold;
}
.hide, .cell-hide {
	display: none;
}
.groupLine {
	padding:3px;
	background-color: WhiteSmoke;
	border: solid 1px rgb(222, 226, 230);
	border-radius: 5px;
	color: black;
}
.panelComponent .panelBody header .groupLine,
.controller .groupLine {
	padding:10px;
}

/* link list menu */

.inputWrapper {
	position: relative;
}
.inputMessage {
	padding: 2px;
	border: solid 1px red;
	border-radius: 5px;
	background-color: rgba(255,0,0,0.65);
	position: absolute;
	top: 2.5em;
	left: 0em;
	z-index: 10;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 2px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
	white-space: nowrap;
}
.inputMessage::before{
	content: '';
	position: absolute;
	left: 10px;
	top: -10px;
	display: block;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
}
.checkboxButton {
	position:relative;
	background-color: gray;
	display: inline-block;
	height: 20px;
	width: 30px;
	border-radius: 15px;
	cursor: pointer;
	top: 2px;
}
.checkboxButton .circle {
	position: absolute;
	background: linear-gradient(to bottom, #FFFFFF, #F0F0F0 );
	display: inline-block;
	border-radius: 8px;
	height: 16px;
	width: 16px;
	top: 2px;
	left: 2px;
}
.checkboxButton[data-checked="1"] {
	background-color: #5bd94d;
}
.checkboxButton[data-checked="1"] .circle {
	left: unset;
	right: 2px;
}
.checkboxButton[data-checked="1"].hist {
	background-color: Orange;
}
.field {
	position:relative;
	margin-bottom: 1em;
	padding: 0.5em;
}
.field.add {
	animation-name: add-field;
	animation-duration: 1.5s;
}
@keyframes add-field {
	from {
		background-color: DodgerBlue;
	}
}
.gridWrapper {
	display: grid;
	grid-template-columns: 1fr;
}
.gridWrapper div {
	padding: 5px;
}
.label,.url {
	width: 95%;
}
@media (min-width: 802px) {
	.gridWrapper {
		grid-template-columns: 1fr 1fr;
	}
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
@media (min-width: 1094px) {
	.gridWrapper {
		grid-template-columns: 100px 1fr 1fr;
	}
	.fieldController {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.labelLineBreak {
		display: none;
	}
	.label,.url {
		width: 80%;
	}
}
.textbox {
	white-space: nowrap;
}
.handle {
	cursor: grab;
}
.handle img {
	width: 13px;
	height: 16px;
}
.hold {
	opacity:0.5;
	position:absolute;
	z-index:10;
}
.removeField {
	position: absolute;
	top:5px;
	right:5px;
	width:16px;
	height:16px;
	cursor: pointer;
}
.draggable.invisible {
	visibility: hidden;
}

/* preset menu */

#preset section {
	padding:0.5em;
	margin:0.5em;
	border: solid 1px black;
}
#preset .url {
	font-size:70%
}
#preset .checkWrapper {
	cursor: pointer;
}
#table {
	display: grid;
	grid-template-columns: 1fr;
}
@media (min-width: 802px) {
	#table {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1094px) {
	#table {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1372px) {
	#table {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* history menu */

.historyPage,.historyRowSize {
	width:50px;
}
.pagination {
	cursor: pointer;
	color: rgb(0, 0, 238);
}
.pagination:hover {
	text-decoration: underline;
}
.headHistoryID {
	width: 20px;
}
.headHistoryDate,.headHistoryText,.headHistoryFromSite,.headHistoryToSite {
	width: auto;
	min-width: 150px;
}
.headHistoryID, .historyID {
	text-align: left;
}

/* ranking */

.rankingCount {
	text-align: right;
}

/* others menu */

.othersTable {
	display: grid;
	grid-template-columns: 1fr;
}
.othersTable > * {
	margin-right: 1em;
	margin-bottom: 1em;
}
@media (min-width: 1094px) {
	.othersTable {
		grid-template-columns: 1fr 1fr ;
	}
	#linkListSample {
		position: relative;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 7;
	}
	#linkListSample>div {
		position: sticky;
		top: 0px;
	}
}
@media (min-width: 1372px) {
	.othersTable {
		grid-template-columns: 1fr 1fr 1fr ;
	}
	#linkListSample {
		position: relative;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 4;
	}
	#linkListSample>div {
		position: sticky;
		top: 0px;
	}
}
#languageFilterSelectPaneBody {
	display: grid;
	grid-template-columns: 1fr 300px;
}
#languageFilterContainer {
	display: inline;
}
#languageFilterContainer>* {
	vertical-align: top;
	display: inline-block;
	width: 300px;
}
#languageSelectList {
	position: sticky;
	top: 0px;
}
#languageFileterComponent {
	position: relative;
}
#downloadLanguagePane {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: rgba(0,0,0,0.7);
}
#downloadLanguagePane>p {
	text-align: center;
	height: 100%;
}
#downloadLanguagePane>p::before {
	display:inline-block;
	height: 100%;
	vertical-align: middle;
	content:"";
}
#downloadLanguagePane>p>span {
	color:white;
	display: inline-block;
	vertical-align: middle;
}
#downloadLanguagePane>div {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-image: url("/image/whiteCircle.svg");
	background-repeat: no-repeat;
	background-position: center;
	animation: loading 2s ease-out 0s infinite running;
	background-size: 0%;
	opacity: 1;
}
@keyframes loading {
	0%{
		background-size: 0%;
		opacity: 1;
	}
	40%{
		background-size: 0%;
		opacity: 1;
	}
	100%{
		background-size: 100%;
		opacity: 0;
	}
}

/* component */
.excludeImage,.includeImage {
	display: none;
	cursor: pointer;
	vertical-align: bottom;
}
.erasticTextComponent.short .erasticText::after {
	content: " ...";
}
.erasticTextComponent.short .includeImage {
	display: inline;
}
.erasticTextComponent.long .excludeImage {
	display: inline;
}
